<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="public/css/style.css">
        <title>HOME PAGE</title>
    </head>
    <body>
        <div class="home-container">
            <div class="header-nav">
                <header>
                    <div class="header-logo">
                        <img src="public/img/logo-white.svg">
                    </div>
                    <div class="header-right-panel">
                        <a href="#"><img src="public/img/gear.svg"></a>
                        <a href="#"><img src="public/img/logout.svg"></a>
                    </div>
                </header>
                <nav>
                    <a href="#">Home</a>
                    <a href="#">People</a>
                    <a href="#">Catalogs</a>
                </nav>
            </div>
            <div class="home-content">
                <div class="home-content-flex">
                    <div class="home-photo"></div>
                    <div class="home-photo"></div>
                    <div class="home-photo"></div>
                    <div class="home-photo"></div>
                    <div class="home-photo"></div>
                    <div class="home-photo"></div>
                    <div class="home-photo"></div>
                    <div class="home-photo"></div>
                </div>
            </div>
        </div>
    </body>
</html>