* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* :root {

} */

img {
    display: block;
}

body {
    margin: 0 auto;
}

/* LOGIN PAGE */

.login-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #2C1A1D;
    /* background-color: #443850; */
}

.login-logo {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: black; */
}

.login-form {
    width: 350px;
    padding: 20px 5px 2px 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F6F6F6;
    border: solid black 1px;
    border-radius: 2%;
}

.login-form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form > form > .login-message {
    color: red;
    font: normal normal normal 14px/21px Segoe UI;
}

.login-form > form > input {
    width: 280px;
    height: 2em;
    margin: 10px 0 0 0;

    text-align: center;
    font: normal normal normal 14px/21px Segoe UI;
}

.login-form > form > button {
    width: 280px;
    height: 40px;
    margin: 10px 0 0 0;

    font: normal normal normal 14px/21px Segoe UI;
}

.login-form > form > p {
    margin: 10px 0 10px 0;
    text-align: center;
    font: normal normal normal 12px/19px Segoe UI;
}

/* HOME PAGE */

.home-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 120px 1fr;
}

header {
    width: 100%;
    height: 120px;

    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 20;
}

.home-header-top {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #2C1A1D;
}

.home-header-bottom {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #6C534E;
}

.home-header {
    width: 950px;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-header-panel {
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-header-panel > a > img {
    height: 25px;
}

nav.home-nav {
    width: 950px;
    height: 50px;

    display: flex;
    align-items: center;
}

nav.home-nav > a {
    height: 50px;
    padding-inline: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #dcdcdc;
    text-decoration: none;
    font: normal normal normal 18px/25px Segoe UI;
}

nav.home-nav > a:hover {
    /* background-color: #2C1A1D; */
    color: white;
}

.home-content {
    display: flex;
    justify-content: center;
}

.home-content-box {
    width: 950px;
    display: flex;
    justify-content: space-between;
}

#loader {
    z-index: 1;
    width: 80px;
    height: 80px;
    position: relative;
    top: calc(50vh - 120px);
    left: calc(50%);

    border: 14px solid whitesmoke;
    border-radius: 50%;
    border-top: 14px solid #6C534E;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.home-content-box-col {
    width:310px;
    padding-bottom: 10px;
    display: none;
}

.animate-bottom {
    position: relative;

    animation-name: animatebottom;
    animation-duration: 1s
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

.home-content-box-photo {
    margin-top: 10px;
    
    border: 1px solid #CCCCCC;
}

.home-content-box-photo-img {
    overflow: hidden;
}

.home-content-box-photo-img > img {
    width: 100%;
    display: block;

    transition: 0.3s all ease-in-out; 
}

.home-content-box-photo-img > img:hover {
    transform: scale(1.2); 
}

.home-content-box-photo-title {
    width:100%;
    padding: 3px;

    word-wrap: break-word;
    /* text-align: center; */
    font: normal normal normal 16px/23px Segoe UI;
    /* border-bottom: 1px solid #CCCCCC; */
    background-color: whitesmoke;
}

.home-content-box-photo-info {
    width: 100%;
    height: 3em;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;

    background-color: whitesmoke;
}

.home-content-box-photo-info > p {
    padding-left: 3px;
    padding-right: 3px;

    font: normal normal normal 14px/21px Segoe UI;
}

p.home-name, p.home-type {
    text-align: left;
}

p.home-likes, p.home-comments {
    text-align: right;
}

p.home-type {
    font-style: italic;
}

p.home-likes::before {
    content: url(/public/img/like.svg);
    display: inline-block;
    margin-right: 3px;
}

p.home-comments::before {
    content: url(/public/img/comment.svg);
    display: inline-block;
    margin-right: 3px;
}

/* PHOTO PAGE */

.photo-content-box {
    width: 950px;
    display: flex;
    align-items: flex-start;
}

.photo-content-box-img {
    width: 570px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-content-box-img > img {
    max-width: 97%;
    max-height: 772px;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 0px 29px 8px rgba(0,0,0,0.2);
}

.photo-content-box-properties{
    width: 380px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.photo-properties-box {
    padding: 20px;
    width: 97%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    background-color:whitesmoke;
    border: 1px solid #CCCCCC;

    font: normal normal normal 14px/21px Segoe UI;
}

.photo-properties-box > p {
    margin-top: 5px;
}

.photo-properties-box > h2 {
    margin-top: 5px;
}

.photo-properties-box > h2::before {
    content: url(/public/img/like.svg);
    display: inline-block;
    margin-right: 3px;
}

.photo-comments {
    margin-top: 20px;
    width: 100%;
    /* min-height: 480px; */
    max-height: 480px;
    overflow: auto;

    border: 1px solid #CCCCCC;
    background-color: white;
}

.comment {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #CCCCCC;
}

.comment > .author {
    font-style: italic;
    color: #AAAAAA;
}

.comment > .comment-content {
    word-wrap: break-word;
}

.photo-add-comment {
    margin-top: 20px;
    width: 100%;
}

.photo-add-comment > textarea {
    width: 100%;
    height: 100px;
    padding: 10px;

    resize: none;
    font: normal normal normal 14px/21px Segoe UI;
    border: 1px solid #CCCCCC;
}

.photo-add-comment > button {
    width: 40%;
    height: 30px;
    margin: 2px 0 0 0;
    float: right;

    font: normal normal normal 14px/21px Segoe UI;
}

/* UPLOAD PHOTO */

.upload-box {
    width: 950px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-box > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}












@media (max-width: 768px) {
    .home-content-box {
        width: 325px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .home-content-box-col {
        width:325px;
        padding-bottom: 10px;
    }

    .photo-content-box {
        width: 325px;
        flex-direction: column;
    }

    .photo-content-box-img {
        width: 100%;
        padding: 0;
        padding-top: 10px;
    }

    .photo-content-box-img > img {
        width: 100%;
    }

    .photo-content-box-properties{
        width: 100%;
        padding: 0;
        padding: 10px 0 10px 0;
    }
    
    .photo-properties-box {
        padding: 20px;
        width: 100%;
    }
}