<header>
    <div class="home-header-top">
        <div class="home-header">
            <img src="/public/img/logo-white.svg">
            <div class="home-header-panel">
                <a href="/profil"><img src="/public/img/user.svg"></a>
                <a href="/logout"><img src="/public/img/logout.svg"></a>
            </div> 
        </div>
    </div>
    <div class="home-header-bottom">
        <nav class="home-nav">
            <a href="/home">HOME</a>
            <a href="/">SEARCH</a>
            <a href="/upload">UPLOAD</a>
        </nav>
    </div>
</header>
<div class="home-under-header"></div>